@page "/contact-detail/{Id:int}"
@inject ContactContext ctx
@using myspace.Data

@if (person is null)
    {
    <p><em>Loading...</em></p>
    }
    else
    {
    <h3>@person.FirstName @person.LastName</h3>
    <a class="btn btn-primary" href="compose-message/@Id">Contact using template</a>
    }
    @code {
        [Parameter]
        public int? Id { get; set; }
private Person person { get; set; }

    protected override async Task OnInitializedAsync()
    {
        person = await ctx.People
            .Include("ContactEvents")
            .Include("Notes")
            .Include("Tags")
            .FirstOrDefaultAsync(p => p.PersonId == Id);
    }
    }

